body {
    font-family: Roboto, sans-serif;
    background: #aac8d8
}

.clear {
    clear: both;
}

hr {
    width: 96%;
}

.message-column {
    padding: 0px;
    margin: 0 auto;
    margin-top: 250px;
}

.sender {
    background-color: #4b82db;
    padding: 15px;
}

#avatar {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.name {
    display: inline;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 12px;
    line-height: 20px;
}

.exit {
    display: inline;
    float: right;
    opacity: .8;
}

.exit:hover {
    cursor: pointer;
    opacity: 1;
}

.msg-body {
    margin-top: -5px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    max-width: 66%;
    background-color: #e6edf6;
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.chat-body {
    padding: 15px;
    background-color: #fff;
}

.date {
    width: 94%;
    text-align: center;
    border-bottom: 1px solid #dedede;
    line-height: 0.1em;
    margin: 15px auto;
}

.date span {
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: #dedede;
}

.time {
    font-size: 12px;
    opacity: .3;
    font-weight: 500;
    line-height: 5px;
    padding-bottom: 0px;
}

.received {
    text-align: right;
}

.received-message .msg-body {
    background-color: #f2f2f2;
    float: right;
    margin-right: 15px;
}

.received-message .msg-body.banned {
    background-color: #ffc2c1;
    margin-right: 0px;
}

